html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box; 
}

body {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  background: url(./assets/img/bokeh-2152298.jpg); 
}


.wrapper {
  display: grid;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;  
  grid-template-rows: auto  1fr  100px;
  grid-auto-flow: dense;  
}

header {
  display: grid;
  grid-template-columns: 35% 65%;  
  background-color: #d7cbd4;
  box-shadow: 10px 0px 0px #d7cbd4;
}

.header-img {
  background-color: #7b78af;   
  box-shadow: 1px 1px 0px #c0bbec,
  2px 2px 0px #bcb8eb,
  3px 3px 0px #bcb7f1,
  4px 4px 0px #b6b2e7,
  5px 5px 0px #aca8e4,
  6px 6px 0px #aba7e6,
  7px 7px 0px #a6a2d6,
  8px 8px 0px #9c99ca,
  9px 9px 0px #9290b8,
  10px 10px 0px #908eb6;
  border-right: 1px solid #7b78af;;
}

.nav-list {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 60px;
  list-style: none;
  background-color: #7b78af; 
  box-shadow: 1px 1px 0px #c0bbec,
  2px 2px 0px #bcb8eb,
  3px 3px 0px #bcb7f1,
  4px 4px 0px #b6b2e7,
  5px 5px 0px #aca8e4,
  6px 6px 0px #aba7e6,
  7px 7px 0px #a6a2d6,
  8px 8px 0px #9c99ca,
  9px 9px 0px #9290b8,
  10px 10px 0px #908eb6;
}

.nav-item {  
  width: 90px;
  height: 30%;
  font-style: 14px;
  padding: 10px 5px;
  border-radius: 10px;
  text-align: center;  
  opacity: 0.5;
  box-shadow: 0 0 20px 5px rgba(53, 16, 16, 0.5) inset;
  box-shadow: 1px 1px 0px #af9477,
              2px 2px 0px #997f63,
              3px 3px 0px #79644e;             
  background-image: linear-gradient( #997f63 , #af9477 22%, #e2c19d 45%, #f3cfa9 50%, #e2c19d  55%, #af9477 78%, #997f63 100%);
}

.nav-item:hover {
  opacity: 1;
}

a {
  text-decoration: none;
  color: #0c0c0b;
}

.header-info-title {
  position: relative;
  left: 0;
  font-size: 75px;
  color: #7b78af;
  text-align: center; 
  text-shadow:
 1px 1px 0px #c0bbec,
 2px 2px 0px #bcb8eb,
 3px 3px 0px #bcb7f1,
 4px 4px 0px #b6b2e7,
 5px 5px 0px #aca8e4,
 6px 6px 0px #aba7e6,
 7px 7px 0px #a6a2d6,
 8px 8px 0px #9c99ca,
 9px 9px 0px #9290b8,
 10px 10px 0px #908eb6,
 15px 15px 25px rgba(0,0,0,.9);
 transition: .5s ease-in-out;
}

.header-info-title:hover {
  position: relative;
  left: 15px;
  font-size: 75px;
  color: #7b78af;
  text-align: center; 
  text-shadow:
 -1px 1px 0px #c0bbec,
 -2px 2px 0px #bcb8eb,
 -3px 3px 0px #bcb7f1,
 -4px 4px 0px #b6b2e7,
 -5px 5px 0px #aca8e4,
 -6px 6px 0px #aba7e6,
 -7px 7px 0px #a6a2d6,
 -8px 8px 0px #9c99ca,
 -9px 9px 0px #9290b8,
 -10px 10px 0px #908eb6,
 -15px 15px 25px rgba(0,0,0,.9);
}

.header-info-subtitle {
  padding: 20px 0;
  font-size: 45px;
  text-shadow: -1px -1px #362c34,
                0 1px #5f575d;
  color: #b9b3b8;
  text-align: center;
  background-color: #7b78af;
  box-shadow: 1px 1px 0px #c0bbec,
  2px 2px 0px #bcb8eb,
  3px 3px 0px #bcb7f1,
  4px 4px 0px #b6b2e7,
  5px 5px 0px #aca8e4,
  6px 6px 0px #aba7e6,
  7px 7px 0px #a6a2d6,
  8px 8px 0px #9c99ca,
  9px 9px 0px #9290b8,
  10px 10px 0px #908eb6;
}

.header-img-ava {
  margin-bottom: -5px ;
  width: 100%;
}

/*------------ main ---------*/

main {
  display: flex;
  flex-direction: row;
  background-color: #d7cbd4;
  box-shadow: 10px 0px 0px #d7cbd4;
}

.right-section {
  width: 65%;
}

.left-section {  
  width: 35%;
  height: 100%;
  background-color: #7b78af; 
  box-shadow: 1px 0px 0px #c0bbec,
  2px 0px 0px #bcb8eb,
  3px 0px 0px #bcb7f1,
  4px 0px 0px #b6b2e7,
  5px 0px 0px #aca8e4,
  6px 0px 0px #aba7e6,
  7px 0px 0px #a6a2d6,
  8px 0px 0px #9c99ca,
  9px 0px 0px #9290b8,
  10px 0px 0px #908eb6;
}

h3 {
  font-size: 24px;
  text-align: center;
  padding-bottom: 20px;
  color: #b9b3b8;
  text-shadow: -1px -1px #362c34,
  0 1px #5f575d;
  border-bottom: 3px solid #aba7e6;
}

.section-aside {
  margin: 10px;
  padding: 0;
  border-radius: 10px;
  border: 3px solid #aba7e6;
  color: #0a0a0a;
}

.section-aside:hover{
  border: 3px solid #dad8f3;
}

.section-aside:hover h3{
  border-bottom: 3px solid #dad8f3;
}


.contact-list {
  list-style: none;
}

.contact-list:hover {
  font-weight: 700;
  color: #e2ceb8;
}

.color-text {
  font-size: 18px;
  color: #d3a370;
}

.education-list,
.courses-list {  
  list-style: none;
}

.education-list::before {
  content: "\203B";
  color:#d3a370;
}

.courses-list::before {
  content: "\22C4";
  color:#d3a370;
}

.lang {
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.lang:last-child {
  padding-top: 5px;
}

.icon {
  fill: #d3a370;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  transition:  1.8s;
}

.skills-icon {
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
  list-style: none;
}

.lang:hover,
.skills-icon:hover {
  font-size: 20px;
  font-weight: 700;
  color: #e2ceb8;
}

.education-univ:hover,
.courses-list:hover {
  color: #e2ceb8;
}
 
.icon:hover {   
  transform: rotateY(720deg);
  transition: 1.8s;  
}

.code-section {
  padding: 10px 20px;
}

section {
  padding: 10px 20px;
}

.summary-section,
.project-section {
  position: relative;
  left: 5px;     
  background-color: #aca8e4;
  box-shadow: 
  1px 0px 0px #aba7e6,
  2px 0px 0px #a6a2d6,
  3px 0px 0px #9c99ca,
  4px 0px 0px #9290b8,
  5px 0px 0px #908eb6;  
}

.code-section {
  position: relative;
  left: 10px;
  border: 3px solid #908eb6;  
}

h2 {
  font-size: 32px;
  padding-bottom: 10px;  
  padding-top: 20px;
  margin: 0;
  text-align: center;
  color: #d8d2d7;
  text-shadow: -1px -1px #362c34,
  0 1px #5f575d;
  border-bottom: 3px solid #aba7e6;
}

#work{
  padding: 0;
}

.project-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;  
}

.projects {
  position: relative;
  width: 400px;
  height: 200px;
  margin: 15px;
  box-shadow: 0px 0px 0px 2px #5d5b72,
  0px 0px 0px 4px #7f7da1,
  0px 0px 0px 6px #8a84b9,
  0px 0px 0px 8px #aba8d1,
  0px 0px 0px 10px #b3b0db;
}

.projects::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;  
  z-index: 1;
  left: 0;
  opacity: 0;
  background: #0c0c0c;
  transition: all.3s ease-in-out;
}

.projects-item{
  width: 100%;
  height: 100%;
  z-index: 2;
}

h4 {
  position: absolute;
  margin-top: 0;
  top: 40%;  
  z-index: 3;
  width: 100%;  
  font-size: 30px;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;   
  transition: opacity 0.2s, transform 0.3s; 
}

.frame-link  {
  position: absolute;
  margin-top: 0;
  top: 70%;  
  z-index: 3;
  width: 100%;  
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  background-color: #fff;
  transition: opacity 0.3s, transform 0.5s;
}

h4:hover {
  transition: all .5s ease-in-out;
}

.frame {
  position: absolute;
  border: 1px solid #fff;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  opacity: 0;
  transition: all .5s ease-in-out;
}

.projects:hover .projects-item {  
  opacity: .7;
}

.projects:hover .projects::before {
  opacity: 1;
  transition: all .5s ease-in-out;
}

.projects:hover .frame {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  opacity: 1;
}

.projects:hover h4 {  
  transform: translateY(-50%);  
}

fieldset {
  position: relative;
  width: 100%;  
}

code {
  white-space: pre-wrap;
}

.code-title-section {
  color: #7b78af;
  text-shadow: -1px -1px #caadc4,
  0 1px #312d30;
  border: none;
}

/*------------ Footer ----------*/
.footer-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #7b78af;
  box-shadow: 1px 0px 0px #c0bbec,
  2px 0px 0px #bcb8eb,
  3px 0px 0px #bcb7f1,
  4px 0px 0px #b6b2e7,
  5px 0px 0px #aca8e4,
  6px 0px 0px #aba7e6,
  7px 0px 0px #a6a2d6,
  8px 0px 0px #9c99ca,
  9px 0px 0px #9290b8,
  10px 0px 0px #908eb6;
}

.footer-year {
  font-size: 20px;
}

.footer-gitHub {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.footer-logo-rsschool {
  width: 100px;
  margin-right: 20px;
}
